.instruction {
  box-sizing: border-box;
  box-shadow: inset 3px 0 #0670DE;
  background-color: #F2F9FE;
  color: #515A70;
  font-size: 16px;
  padding: 16px;
  line-height: 1.6;
}

.instruction strong {
  color: #2D3146;
}