@import url('https://tools-static.wmflabs.org/fontcdn/css?family=IBM+Plex+Mono:400,500,600,700&subset=latin');
@import url('https://tools-static.wmflabs.org/fontcdn/css?family=IBM+Plex+Serif:400,400bold&subset=latin');
@import url('https://tools-static.wmflabs.org/fontcdn/css?family=Inter:400,500,600,700&subset=latin');
@import url('https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin-ext');

:root {
  --color-background: #fff;
  --color-gray0: #eaecf0;
  --color-gray1: #515a70;
  --color-gray2: #2d3146;
  --color-blue0: #f2f9fe;
  --color-blue1: #0670de;
  --color-blue2: #a6cee3;
  --color-shadow0: rgba(24, 27, 44, 0.2);
  --font-family-serif: 'IBM Plex Serif', serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-family-sans-serif: 'Inter', sans-serif;
  --font-size-title: 38px;
  --font-size-section: 26px;
  --font-size-subsection: 20px;
  --font-size-paragraph: 16.5px;
  --font-size-body: 16px;
  --letter-spacing-title: -0.03em;
  --letter-spacing-section: -0.02em;
  --letter-spacing-instruction: -0.01em;
  --spacing0: 8px;
  --spacing1: 16px;
  --spacing2: 24px;
  --spacing3: 32px;
  --spacing4: 64px;
  --spacing5: 128px;
  --column-count: 12;
  --column-width: calc(
    (var(--max-width) - var(--gutter-width) * 2) / var(--column-count)
  );
  --gutter-width: 16px;
  --max-width: 1024px;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  color: var(--color-gray2);
  background-color: var(--color-background);
  font-size: var(--font-size-body);
}
a {
  color: inherit;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container section {
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  width: 100%;
}
.wmf-header {
  background-color: var(--color-gray0);
  padding: 15px 0;
  height: 52px;
}
.wmf-header img {
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 4px;
}
.wmf-header a {
  display: inline-block;
  line-height: var(--spacing2);
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
}
.margin-top-3 {
  margin-top: var(--spacing3);
}
.margin-top-4 {
  margin-top: var(--spacing4);
}
.title-text {
  font-size: var(--font-size-title);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-title);
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
}
.section-text {
  font-size: var(--font-size-section);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-section);
  line-height: 1.3;
  margin-top: var(--spacing4);
  margin-bottom: var(--spacing1);
}
.section-text::before {
  display: block;
  content: ' ';
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}
.subsection-text {
  font-size: var(--font-size-subsection);
  font-weight: 600;
  line-height: 1.2;
  margin-top: var(--spacing3);
  margin-bottom: (--spacing0);
}
.paragraph {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-paragraph);
  margin-top: var(--spacing1);
  margin-bottom: var(--spacing2);
  line-height: 1.6;
}
.controls-container {
  z-index: 50;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}
.controls {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 10px;
  padding: var(--spacing1);
  box-shadow: 0 0 0 1px var(--color-shadow0);
  border-radius: 2px;
}
.content > :first-child {
  margin-top: var(--spacing3);
}
.content {
  padding-bottom: var(--spacing4);
}
.error-container {
  text-align: center;
  padding: var(--spacing4);
  margin: 0 auto;
}
.horizontal-bar {
  width: 100%;
  height: 100%;
}
.instruction {
  box-shadow: inset 3px 0 var(--color-blue1);
  background-color: var(--color-blue0);
  padding: var(--spacing1);
  color: var(--color-gray1);
  margin-top: var(--spacing2);
  letter-spacing: var(--letter-spacing-instruction);
}
.language-select {
  margin-bottom: var(--spacing1);
}
.comparison-container {
  background-color: var(--color-blue0);
  padding: var(--spacing0);
  border-radius: 5px;
}
.barchart {
  height: 65vh;
  max-height: 500px;
}
.barchart-label {
  text-align: center;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}
.loader-container {
  text-align: center;
  padding: var(--spacing5);
  margin: 0 auto;
}
.node-label {
  cursor: pointer !important;
}
.toggle {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-right: 3px;
}
.toggle-label {
  vertical-align: middle;
  font-weight: normal;
  margin-bottom: 0;
}
.limit-select {
  width: 150px;
  min-width: 130px;
}
.sankey-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing0);
}
.redirect {
  color: var(--color-gray1);
  line-height: 1.6;
  font-size: 15px;
}
.redirect strong {
  font-weight: 500;
}
.redirect-icon {
  color: var(--color-blue2);
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: -3px;
}
.rdt_TableCol {
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: var(--font-family-mono);
}
.rdt_TableHeader {
  margin-top: var(--spacing3);
}
.rdt_TableHeader > div {
  font-size: var(--font-size-subsection) !important;
  font-weight: 600 !important;
  line-height: 1.2;
}
.rdt_TableHeadRow {
  border-bottom: 2px solid !important;
}
.rdt_TableCell {
  font-family: var(--font-family-mono);
}
.rdt_TableCell:nth-child(2),
.rdt_TableCell:nth-child(3) {
  font-weight: 500;
}
.treemap-container {
  display: grid;
  grid-gap: var(--spacing1);
  grid-template-columns: 1fr;
}
.treemap-legend {
  background-color: var(--color-blue0);
  border-radius: 3px;
  padding: 8px 5px 20px 12px;
  width: 100%;
}
.treemap-legend-row {
  margin-top: 8px;
  margin-left: 12px;
  color: var(--color-gray1);
  font-size: 11px;
  line-height: 1.5;
}
.treemap-legend-label {
  font-weight: 600;
}
.section-anchor {
  cursor: pointer;
  margin-right: 4px;
  color: var(--color-gray2);
}
.overview-container {
  display: grid;
  grid-gap: var(--spacing1);
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: center;
}
.overview-card {
  background-color: var(--color-blue0);
  border-radius: 5px;
  padding: var(--spacing1) var(--spacing1);
}
.overview-circle {
  display: inline-block;
  background-color: var(--color-blue2);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
}
.overview-figure {
  font-size: var(--font-size-section);
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 2px;
}
.wmf-footer {
  border-top: 1px solid #e1e4e8;
  padding: 48px 0;
  line-height: 1.6;
  font-size: 15px;
}
.wmf-footer a {
  color: var(--color-blue1);
  text-decoration: none;
}
.wmf-footer a:hover {
  text-decoration: underline;
}
@media (max-width: 481px) {
  .controls {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .instruction {
    max-width: calc(var(--column-width) * 8);
  }
  .treemap-container {
    grid-template-columns: 3fr 1fr;
  }
  .treemap-legend {
    margin-top: 52px;
    max-width: calc(var(--column-width) * 3);
    max-height: 313px;
  }
  .treemap {
    min-height: 400px;
  }
}
@media (max-width: 1024px) {
  .controls-container {
    margin-top: var(--spacing3);
  }
  .controls {
    margin-top: 0;
  }
}
